name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: macOS-11
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Build
        run: xcodebuild -scheme TreeSitterLanguages-Package -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 13'
